<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Let's manage all your projects</h1>
          <p class="lead my-3 wow fadeInLeft animated">From simple to large projects, our systems are scalable and flexible and are designed to manage projects, MyBasecamp gives you a place to share things company-wide, within a team, or for a specific project.</p>
           <% if current_user %>
              <%= link_to "New Project", '/projects/new', class: "btn btn-outline-secondary" %>
          <% else %>
              <%= link_to "New Project", '/login', class: "btn btn-outline-secondary" %>
          <% end %>
            
        </div>
</div>


<h3 class="mb-5">
   <a class="text-dark mb-4">Project Gallery</a><br>                
  </h3>
<div class="row mb-2 wow fadeInRight animated">
    <% @projects.each do |p| %>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              
              <h3 class="mb-0">
                <a class="text-dark mb-4"><%= p.title %></a><br>                
              </h3>
              <div class="mb-1 text-muted pt-2">
              <%= p.created_at.strftime(" %B %d, %Y") %> 
              <strong class="d-inline-block mb-2 text-primary"> by <%= User.find(p.user_id).name %> </strong></div>
              <p class="card-text mb-auto"><%= p.description %></p>
              
               <%= link_to "Continue reading", 'project/' + p.id.to_s %>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" 
            alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="<%= p.img %>" data-holder-rendered="true">
          </div>
        </div>
    <% end %>
  </div>

